previs/__pycache__/*
previs/tests/__pycache__/*
previs/.DS_Store
previs/data/eso_limits_matisse_new.json
*.json
.DS_Store
myexample.py

*.egg-info/
build/
.pytest_cache/
*_results
__pycache__
dist/

script_tests/
.venv
uv.lock